<div class="container">
	<mat-card class="team-card" *ngFor="let team of teams" (click)="goToRoster(team)">
		<mat-card-header>
			<mat-card-title>{{ team.fullName }}</mat-card-title>
			<mat-card-subtitle>{{ team.nickName }}
				<span style="float: right;
  overflow: auto;">
					👤: {{ team.roster.length }}
				</span>
			</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="{{ team.logo }}">
		<mat-card-actions>
			<button mat-button>VIEW TEAM ROSTER</button>
		</mat-card-actions>
	</mat-card>
</div>