.container{
  width: 1200px;
  margin: 0 auto;
}

.team-card {
  max-width: 280px;
  margin: 40px;
  margin-bottom: 0;
  float: left;
}

.team-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

mat-card img {
  object-fit: cover;
  width: 280px;
  height: 280px;
}