<div class="container">
  <mat-card *ngFor="let player of team.roster" (click)="editPlayer(player)">
    <mat-card-header>
      <mat-card-title>{{player.person.displayName}}</mat-card-title>
      <mat-card-subtitle>{{ player.unit }}</mat-card-subtitle>
      <mat-card-subtitle>{{ player.position }}</mat-card-subtitle>
      <mat-card-subtitle>Depth Order : {{ player.depthOrder }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>EDIT PLAYER DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>