<div class="container">
  <form (ngSubmit)="savePlayerDetails(player)">
    <mat-form-field hintLabel="Display Name">
      <input matInput name="displayName" placeholder="{{selectedPlayer.person.displayName}}">
    </mat-form-field>
    <mat-form-field hintLabel="Unit">
      <input matInput name="unit" placeholder="{{selectedPlayer.unit}}">
    </mat-form-field>
    <mat-form-field hintLabel="Position">
      <input matInput name="position" placeholder="{{selectedPlayer.position}}">
    </mat-form-field>
    <mat-form-field hintLabel="Depth Order">
      <input matInput name="depthOrder" placeholder="{{ selectedPlayer.depthOrder }}">
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button type="submit" mat-button (click)="onSave(player)">Save</button>
    </mat-card-actions>
  </form>
</div>